<div class="container page-width">
	<div>
		<p><a href="/questions/new">Submit Your Question Now!</a></p>
		<h2>Most Recent Questions</h2>
		<br>
	</div>
	<div>
		<ul class="list-group">
			<% @list.each do |question|%>
			  <li class="list-group-item">
				  <span class="emphasize"><a href="/questions/<%= question.id %>"><%= question.title %></a></span>
				  <br>
				  <p class="small">Submitted by: <%= question.user.username %></p>
				  <br>
				  <span class="norm"><%= question.description %></span>
			  </li>
		 	<% end %>
		</ul>
	<div>
</div>