<div class="container page-width">
	<div>
		<p><a href="/questions/new">Submit Your Question Now!</a></p>
		<h2>Most Recent Questions</h2>
		<br>
	</div>
	<div>
		<ul class="list-group">
			<% @list.each do |question|%>
			  <li class="list-group-item">
				  <span class="emphasize"><a href="/questions/<%= question.id %>"><%= question.title %></a></span>
				  <br>
				  
				  <br>
				  <% answer = question.answers.sample %>
				  <span class="small more">
				  <% if answer == nil %>
				  	<p style="color: red;">No answer given yet</p>
				  <% else %>
				  	<p class="norm">Answered by: <%= answer.user.username %></p>
				  	<%= simple_format(answer.description) %>
				  <% end %>
				  </span>
			  </li>
		 	<% end %>
		</ul>
	<div>
</div>