<p><a href="users/<%= current_user.id %>">View User Profile</a></p>

<p><a href="/questions/new">Submit Your Question Now!</a></p>

<h2>Latest Activity</h2>
<% @list.each do |question|%>
	<p>Title: <a href="/questions/<%= question.id %>"><%= question.title %></a></p>
	<p>Description: <%= question.description %></p>
<% end %>