<div class="container page-width">
	<p>Please submit your question</p>

	<% if @error != nil %>
		<h2>Errors: <%= @error %></h2>
	<% end %>

	<form action="/questions" method="post">
		<textarea type="text" name="question[description]" class="text-form" placeholder="Your question"></textarea>
		<input type="checkbox" name="tag[Tech]" value="true"> Tech<br>
		<input type="checkbox" name="tag[Food]" value="true"> Food<br>
		<input type="checkbox" name="tag[Travel]" value="true"> Travel<br>
		<input type="checkbox" name="tag[Finance]" value="true"> Finance<br>
		<br><br>
		<input type="submit" value="submit">
	</form>
</div>