<h1>Make Your Guess!</h1>
<% if @ended == true %>
	<p>All cards have been attempted.</p>
	<p><a href="/all_rounds">Click here to return to score screen</a></p>
<% else %>
	<p>Please fill in the capital city of the country below:</p>
	<p>Definition: <%= @definition %><p>
	<% if @result == nil %>
		<form action="/guess/check" method="post">
			<input type="text" name="input">
			<input type="submit" value="submit">
		</form>

	<% else %>
	<p>Your answer is <%= @result %> </p>
		<p><a href="/guess/question">Next Question</a></p>
		<p><a href="/all_rounds">Click here to return to score screen</a></p>
	<% end %>
<% end %>
<%= @guess.id %>