<% if @error != nil %>
	<h2>Errors: <%= @error %></h2>
<% end %>

<form action="/users" method="post">
	<p> Please input your desired email</p>

	<input type="text" name="user[email]">
	<p> Please input your desired password</p>

	<input type="password" name="user[password]">
	<br><br>
	<input type="submit" value="Sign Up!">
</form>