<div class="container page-width">
	<h1>Welcome <%= current_user.username %></h1>

	<div>
		<ul class="nav nav-tabs" role="tablist">
	        <li role="presentation" id="myquestions"><a href="">My Questions</a></li>
	        <li role="presentation" id="myanswers"><a href="">My Answers</a></li>
		</ul>
		<div class="profile-content">

		</div>
	</div>
</div>

<script>
$(this).load(function(){
	var link      = window.location.href + "/questions";
      	$.ajax({
		    url: link,
		    method: "GET",
		    cache: false,
		    success: function(response){
		    	$html = $.parseHTML( response )
		    	$('.profile-content').html($html)
		    }
	});
});
</script>