<h1>Quora Clone</h1>

<form action="/login" method="post">
	<p> Please input your email</p>

	<input type="text" name="email">
	<p> Please input your password</p>

	<input type="text" name="password">
	<input type="submit" value="submit">
</form>

<p>Please create an account if this is your first time entering this page</p>
<a href="/createuser"><p>Register as new user</p></a>